#menu {
    li {
        list-style-type: none;
        display: inline;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                color: darkblue;
            }
            &.active {
                color: green;
                font-weight: bold;
            }
            -webkit-transition: color 1000ms;
            -moz-transition: color 1000ms;
        }
    }
}